@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ol {
    list-style: revert;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s;
}

/* remove chrome autofill styling */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 31540000s 0s,
    color 31540000s 0s;
}

.mobile-navbar {
  position: fixed;
  top: 0px !important;
  margin-top: 0px !important;
  height: 100%;
  overflow: auto;
  flex-direction: column;
  background-color: #daffc0;
}

.mobile-search-container {
  width: calc(100% - 64px);
}

.single-gallery-image-container {
  position: fixed !important;
  top: 0px;
  left: 0px;
  width: 100% !important;
  height: 100vh !important;
  z-index: 10;
  overflow: hidden;
  user-select: none;
  display: flex;
}

@media (max-width: 768px) {
  .mobile-sortby-container {
    width: calc(100% - 24px);
  }
}

body {
  overflow: auto;
}

body:has(.mobile-category-container) {
  overflow: hidden;
}

@media (min-width: 769px) {
  body:has(.mobile-category-container) {
    overflow: auto;
  }
}

body:has(.hide-scroll),
body:has(.product-view-container),
body:has(.mobile-navbar) {
  overflow: hidden;
}

@media (max-width: 1023px) {
  body:has(.product-view-container) {
    overflow: auto;
  }
}

@media (max-width: 1279px) {
  body:has(.mobile-navbar) {
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  body:has(.mobile-category-container) {
    overflow: hidden;
  }
}

@media (min-width: 1280px) {
  body:not(:has(.product-view-container)) {
    overflow: auto;
  }
}
