@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ol {
    list-style: revert;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s;
}
