@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ol {
    list-style: revert;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 2s;
}

/* remove chrome autofill styling */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 31540000s 0s,
    color 31540000s 0s;
}

.mobile-navbar {
  position: fixed;
  top: 0px !important;
  margin-top: 0px !important;
  height: 100%;
  overflow: auto;
  flex-direction: column;
  background-color: #daffc0;
}

.single-gallery-image-container {
  position: fixed !important;
  top: 0px;
  left: 0px;
  width: 100% !important;
  height: 100vh !important;
  z-index: 10;
  overflow: hidden;
  user-select: none;
  display: flex;
}

body:has(.hide-scroll) {
  overflow: hidden;
}

body:has(.mobile-navbar) {
  overflow: hidden;
}

@media (min-width: 1280px) {
  body:not(:has(.hide-scroll)) {
    overflow: auto !important;
  }
}
